<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="barraLateral.css">
    <title>Barra Lateral</title>

</head>
<body>

    <!-- Barra lateral -->
    <div class="sidebar">
        <!-- Div com a imagem -->
        <div style="width: 100%; height: 100px;">  <!-- A altura aqui pode ser alterada -->
            <img src="logo_icone/7 Sy.jpg" alt="SevenSystem" style="width: 100%; height: 100%; object-fit: cover;">
        </div>
    
        <!-- Links de navegação -->
        <div>
            <a href="/dashboard">DASHBOARD <i class="ri-pie-chart-2-line"></i></a>
            <a href="/fornecedores">FORNECEDORES <i class="ri-truck-line"></i></a>
            <a href="/produtos">PRODUTOS <i class="ri-shopping-bag-3-fill"></i></a>
            <a href="/entrada">ENTRADA <i class="ri-shopping-cart-line"></i></a>
            <a href="/saida">SAIDA <i class="ri-coins-line"></i></a>
            <a href="/configuracao">CONFIGURAÇÃO <i class="ri-tools-fill"></i></a>
            <a onclick="sair()" href="#">SAIR <i class="ri-door-open-line"></i></a>
            <br>
        </div>
    </div>
    

</body>
<script>
function sair() {
    // Limpa o sessionStorage, removendo todos os itens armazenados
    sessionStorage.clear('id_empresa');

    // Redireciona o usuário para a página de login
    window.location.href = '/';  // Alterar para a URL de login
}
</script>
</html>
