<!DOCTYPE html>
<html lang="pt-br">
    <title>Login</title>
    <link rel="stylesheet" href="login.css">
    <head>
        <%-include('partials/header')%>
    </head>

<body style="background-image: url('imagens_sistema/telaFundoLogin.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
    

    <div class="login-container">
        <div class="login-form">
            <center><div >
                <img src="logo_icone/7 Sy.jpg" alt="logo" style="width: 90%">
            </div></center>
            <br>
            <h2>Login</h2>
            <form action="#" >
                <!-- Email Field -->
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email1" placeholder="Digite seu email" required>
                </div>
                <!-- Senha Field -->
                <div class="mb-3">
                    <label for="senha" class="form-label">Senha</label>
                    <input type="password" class="form-control" id="senha1" placeholder="Digite sua senha" required>
                </div>
                <!-- Login Button -->
                <center><button type="button" class="btn btn-primary" onclick="logar()">Entrar</button></center>
            </form>
            <div class="forgot-password">
                <!-- <a href="#" onclick="abrirModal()">Cadastre-se</a><br> -->
                <a href="#" onclick="">Esqueceu sua senha?</a>
                <br>
                <a href="#" onclick="cadastrarUsuario()">Cadastrar Usuario</a>
            </div>
        </div>
    </div>



<!-- Modal -->


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

<script>
    function abrirModal(){
      // Abre o modal com o ID 'myModal'
        var modal = new bootstrap.Modal(document.getElementById('myModal'));
        modal.show();
    }


    

    async function logar(){
        const email = $("#email1").val()
        const senha = $("#senha1").val()
        const body = {email, senha}

        try{
            const response = await $.ajax({
                url: '/logar',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(body)
            })
            if(response.success){
                Swal.fire({
                    icon: 'success',
                    position: 'top-end',
                    title: 'Seja bem vindo',
                    showConfirmButton: false,
                    timer: 1500
                }).then(()=>{
                    $.ajax({
                        url: `/id_empresa/${email}`,
                        method: 'GET',
                        contentType: 'application/json'
                    }).then((resposta)=>{
                        if(resposta){
                            const id = resposta[0].id_empresa
                            sessionStorage.setItem('id_empresa', id)
                            
                        }
                    })
                    window.location.href = '/dashboard'
                })
            }
            else{
                Swal.fire({
                    icon: 'error',
                    position: 'top-end',
                    title: 'Email ou senha incorretos',
                    showConfirmButton: false,
                    timer: 1500
                })
            }
        }catch(erro){
            if(erro){
                Swal.fire({
                    icon: 'error',
                    position: 'top-end',
                    title: 'Erro no servidor tente novamente mais tarde',
                    showConfirmButton: false,
                    timer: 1500
                })
            }
        }
    }

function cadastrarUsuario(){
    const senha = prompt('Digite a senha de administrador')
    if(senha == '12122121@@$'){
        window.location.href = '/cadastroUsuario'
    }
    else{
        alert('Senha incorreta')
    }
}
</script>
</html>
