<!DOCTYPE html>
<title>Produtos</title>
<%-include('partials/header')%>
<body>
    <div class="container">
        <%-include('partials/barraLateral')%> <!-- Inclui a barra lateral -->

        <!-- Conteúdo Principal -->
        <div class="main-content">
            <center><h1>CADASTRO DE PRODUTOS</h1></center>
            <button class="btn btn-primary" id="abreModal" onclick="abreModal()">Cadastrar categoria</button>
            <hr>
            <!-- Barra de Pesquisa -->
            <div class="input-group mb-3">
                <span class="input-group-text" style="width: 14%;">FORNECEDOR</span>
                <select name="fornecedor" id="fornecedor" class="form-control">
                    
                </select>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" style="width: 14%;">CATEGORIA</span>
                <select name="categoria" id="categoria2" class="form-control"></select>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" style="width: 14%;">MARCA</span>
                <input type="text" class="form-control" id="marca" placeholder="Digite a marca">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" style="width: 14%;">PRODUTO</span>
                <input type="text" class="form-control" id="produto" placeholder="Digite o nome do produto" >
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" style="width: 14%;">COR</span>
                <input type="text" class="form-control" id="cor" placeholder="Digite a cor" >
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" style="width: 14%;">VALOR</span>
                <input type="text" class="form-control" id="valor" placeholder="Digite o valor" >
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" style="width: 14%;">MEDIDA</span>
                <select class="form-select" id="medida" aria-label="Default select example">
                    <option id="un" value="un">UN</option>
                    <option id="m" value="m">M</option>
                    <option id="cm" value="cm">CM</option>
                    <option id="mm" value="mm">MM</option>
                    <option id="km" value="km">KM</option>
                    <option id="kg" value="kg">KG</option>
                    <option id="g" value="g">G</option>
                    <option id="mg" value="mg">MG</option>
                    <option id="m2" value="m2">m²</option>
                    <option id="cm2" value="cm2">cm²</option>
                    <option id="km2" value="km2">km²</option>
                    <option id="m3" value="m3">m³</option>
                    <option id="l" value="l">L</option>
                    <option id="ml" value="ml">ML</option>
                </select>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" style="width: 14%;">DESCRIÇÃO</span>
                <input type="text" class="form-control" id="descricao" placeholder="Descreva o produto" >
            </div>

                <!-- Modal -->
                <div class="modal fade" id="modalCategoria" tabindex="-1" aria-labelledby="modalCategoriaLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalCategoriaLabel">Adicionar Categoria</h5>
                                
                            </div>
                            <div class="modal-body">
                                <label for="categoria">Categoria</label>
                                <input type="text" id="categoria1" class="form-control" placeholder="Nome da categoria">
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" onclick="closeModal()">Fechar</button>
                                <button class="btn btn-primary" onclick="salvarCategoria()">Salvar</button>
                            </div>
                        </div>
                    </div>
                </div>


            <!-- Botão para Adicionar Novo Produto -->
            <button class="btn btn-primary" onclick="adicionaProduto()">Salvar</button> 
        </div>
    </div>
</body>
<script>



//ABRE MODAL
function abreModal() {
    const modal = new bootstrap.Modal(document.getElementById('modalCategoria'));
    modal.show();  // Exibe o modal
}

//SALVA CATEGORIOA
function salvarCategoria(){
    const categoria = $("#categoria1").val()
    const id_empresa = sessionStorage.getItem('id_empresa')
    

    $.ajax({
        url: `/cadastraCategoria/${categoria}/${id_empresa}`,
        method: 'POST',
        contentType: 'application/json'
    }).done((response)=>{
        if(response.success){
            Swal.fire({
                icon: 'success',
                position: 'top-end',
                title: 'Cadastrado com sucesso',
                timer: 1500
            }).then(()=>{
                const modal = bootstrap.Modal.getInstance(document.getElementById('modalCategoria'))
                modal.hide()
                location.reload() //atualiza pagina automaticamente
            })
        }
        else{
            Swal.fire({
                icon: 'error',
                position: 'top-end',
                title: 'Erro ao cadastrar',
                timer: 1500
            })
        }
    })
}
//FECHA MODAL
function closeModal(){
    const modal = bootstrap.Modal.getInstance(document.getElementById('modalCategoria'))
    modal.hide()
    
}
    

//POPULA CATEGORIA
function populaCategoria(){
    const id_empresa = sessionStorage.getItem('id_empresa');
    $.ajax({
        url: `/populaCategoria/${id_empresa}`,
        method: 'GET',
        contentType: 'application/json'
    }).done((response) => {
        if(response){
            const categoriaSelect = document.getElementById('categoria2');
            categoriaSelect.innerHTML = ''; // Limpar as opções existentes

            // Adiciona a opção padrão
            const optionDefault = document.createElement('option');
            optionDefault.value = '';
            optionDefault.textContent = 'Selecione uma categoria';
            categoriaSelect.appendChild(optionDefault);

            // Itera sobre os dados da resposta e adiciona opções ao select
            response.forEach(dados => {
                const option = document.createElement('option')
                option.value = dados.categoria;  // Usando a propriedade 'categoria' do objeto
                option.textContent = dados.categoria;  // Usando a propriedade 'categoria' para o texto da opção
                categoriaSelect.appendChild(option);  // Adiciona a opção ao select
            });
        }
    }).fail((error) => {
        console.error('Erro ao realizar a requisição:', error);
    });
}

//SALVA PRODUTO
function adicionaProduto(){
    const id_fornecedor = $("#fornecedor").val()
    const categoria = $("#categoria2").val()
    const marca = $("#marca").val()
    const produto = $("#produto").val()
    const cor = $("#cor").val()
    const valor = $("#valor").val()
    const medida = $("#medida").val()
    const descricao = $("#descricao").val()
    const id_empresa = sessionStorage.getItem('id_empresa')
    


    const body = {id_fornecedor, categoria, marca, produto, cor, valor, medida, descricao}

    $.ajax({
        url: `/adicionaProduto/${id_empresa}`,
        method: 'POST',
        contentType: 'application/json',
        data: JSON.stringify(body)
    }).done((response)=>{
        if(response.success){
            Swal.fire({
                icon: 'success',
                position: 'top-end',
                title: 'Adicionado com sucesso',
                timer: 1500
            })
            document.getElementById("categoria2").value = ''
            document.getElementById("marca").value = ''
            document.getElementById("produto").value = ''
            document.getElementById("cor").value = ''
            document.getElementById("valor").value = ''
            document.getElementById("descricao").value = ''
        }
        else{
            Swal.fire({
                icon: 'error',
                position: 'top-end',
                title: 'Erro ao inserir produto',
                timer: 1500
            })
        }
    })
}

//popula fornecedor
function populaFornecedor() {
    const id_empresa = sessionStorage.getItem('id_empresa');

    const fornecedorSelect = document.getElementById('fornecedor');

    // Adiciona uma opção padrão "Fornecedores"
    const criaOption = document.createElement('option');
    criaOption.value = ''; // Pode ser um valor vazio ou outro valor como '0'
    criaOption.textContent = 'Fornecedores';
    fornecedorSelect.appendChild(criaOption);

    $.ajax({
        url: `/populaFornecedor/${id_empresa}`,
        method: 'GET',
        contentType: 'application/json'
    }).done((response) => {
        if (response) {
            response.forEach(fornecedorItem => {
                const option = document.createElement('option');
                option.value = fornecedorItem.id_fornecedor; // Supondo que cada fornecedor tenha um 'id' único
                option.textContent = fornecedorItem.nome; // Supondo que 'nome' seja o nome do fornecedor
                fornecedorSelect.appendChild(option);
            });
        }
    });
}


$(document).ready(function(){
    populaFornecedor()
    populaCategoria()
    
})

</script>
</html>